*{
    box-sizing: border-box;
}


.TicTacToe{
    width: 500px;
    height: 500px;
    margin: auto;
    border: thin solid black;
}

.row{ 
    display: flex;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
width: 100px;
height: 100px;
} 